<button (click)="goBack()">go back</button>
<h2>Hero Detail, Reactive Forms</h2>
<h3><i>Form Control</i></h3>

<form [formGroup] = "heroForm">
       <div class="form-group">
        <label class = "center-block">Name:
            <input class = "form-control" formControlName="name">
        </label> 
     </div>
      <div class="form-group">
        <label class = "center-block">Super power:
            <input class = "form-control" formControlName="superPower">
        </label> 
     </div>
   
</form>

<p>Form value: {{ heroForm.value | json }}</p>
<p>Form status: {{ heroForm.status | json }}</p>
