<h2>My Heroes</h2>
<div>
  <label>Hero name:
    <input #heroName />
  </label>
  <!-- (click) passes input value to add() and then clears the input -->
  <button (click)="add(heroName.value); heroName.value=''">
    add
  </button>
</div>

<div class="container">
  <div class="row">
    <div class="col-6">
      <ul class="list-group">
        <li *ngFor="let hero of heroes" class="list-group-item d-flex justify-content-between align-items-center">
          <a routerLink="/detail/{{hero._id}}">
           {{hero.name}}
          </a>
           <button type="button" class="btn btn-danger" title="delete hero"
            (click)="openConfirmation(hero)">x</button>
        </li>
      </ul>
    </div>
  </div>
</div>
<app-hero-detail [selectedHero]="selectedHero"></app-hero-detail>
