<h3>Top Heroes</h3>

<button (click)="count();" class='btn btn-primary'>
    count
</button>
{{ doubleCounter }}
<div class = "row">
  <div class="col-1-4 centered-div">
    
    <ngb-carousel>
  
        <ng-template ngbSlide *ngFor="let hero of heroes" class='carousel-item'>
          <a routerLink="/detail/{{hero._id}}">
            <div class="module hero">
              <h4>{{hero.name}}</h4>
            </div>
          </a>
        </ng-template>
        
    </ngb-carousel>
      
  </div>
</div>

